<p><%= link_to "New", new_idea_path %>
<ul>
  <% @ideas.each do |idea| %>
    <li>
      <%= link_to idea.name, idea %> &bull;
      <%= link_to "Edit", edit_idea_path(idea) %> &bull;
      <%= link_to "Delete", idea_path(idea), method: :delete %>
    </li>
  <% end %>
</ul>